.showcase {
  width: 100%;
  height: 500px;
  background: url(https://images.pexels.com/photos/1356268/pexels-photo-1356268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}
.overlay {
  width: 100%;
  height: 500px;
  background: rgba(255, 148, 0, 0.5);
}